<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yologger.presentation">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".screen.main.home.register_post.RegisterPostActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.settings.theme.ThemeActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.verify_email.VerifyEmailActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.find_password.FindPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.join.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screen.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>