<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yologger.presentation">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".screen.auth.agreePolicy.showTerms.ShowTermsActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.agreePolicy.showPolicy.ShowInformationPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.agreePolicy.AgreePolicyActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.more.showMyPosts.ShowMyPostsActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.home.userDetail.reportUser.ReportUserActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.home.userDetail.blockUser.BlockUserActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.more.settings.handleBlockedUsers.HandleBlockedUsersActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.home.userDetail.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.more.settings.showVersion.ShowVersionActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.more.follow.FollowActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.more.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.home.registerPost.RegisterPostActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.verifyEmail.VerifyEmailActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.findPassword.FindPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.join.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".screen.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screen.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>