name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.3

      - name: Grant execution permission for gradlew
        run: chmod +x gradlew

      - name: Create debug.properties
        run: echo '${{ secrets.DEBUG_PROPERTIES }}' > ./debug.properties

      - name: Create dev.properties
        run: echo '${{ secrets.DEV_PROPERTIES }}' > ./dev.properties

      - name: Create release.properties
        run: echo '${{ secrets.RELEASE_PROPERTIES }}' > ./release.properties

#      - name: Build with Gradle
#        run: ./gradlew build

      - name: Build release AAB
        id: buildRelease
        run: ./gradlew bundleRelease --stacktrace

      - name: Sign AAB
        id: sign
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.RELEASE_SIGNING_KEY }}
          alias: ${{ secrets.RELEASE_ALIAS }}
          keyStorePassword: ${{ secrets.RELEASE_KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.RELEASE_KEY_PASSWORD }}

      - name: Upload AAB
        id: uploadArtifact
        uses: actions/upload-artifact@v2.3.1
        with:
          name: app
          path: app/build/outputs/bundle/release/app-release.aab

      - name: Create service_account.json
        id: createServiceAccount
        run: echo '${{ secrets.RELEASE_GOOGLE_SERVICES_JSON }}' > service_account.json

      - name: Deploy to Play Store
        id: deploy
        uses: r0adkll/upload-google-play@v1.0.15
        with:
          serviceAccountJson: service_account.json
          # track: internal, alpha, beta, production(default)
          track: beta
          packageName: com.yologger.heart_to_heart
          releaseFiles: app/build/outputs/bundle/release/app-release.aab

      - name: Send result to slack
        uses: 8398a7/action-slack@v3
        with:
          status: ${{job.status}}
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took
          author_name: Geerio CI
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.RELEASE_SLACK_WEBHOOK_URL }}